html {
   scroll-behavior: smooth;
   font-size: 16px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 30px;
   margin-bottom: 20px;
}

.logo {
   display: flex;
   color: #00af91;
   text-decoration: none;
}

.logo h1 {
   font-size: 2rem;
}

.logo h1:first-child {
   color: #ffcc29;
}

.barra-busqueda {
   padding: 10px;
   width: 50%;
   border-radius: 10px;
   outline: none;
   border: 1px solid #c2c2c2;
   box-shadow: 0px 1px 3px -1px #323232;
}

.barra-busqueda::placeholder {
   color: #c2c2c2;
   font-size: 0.8rem;
}

.img-perfil img {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   object-fit: cover;
}
/* HEADER */

/* RESTAURANT */
.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container {
   width: 90%;
}
/* RESTAURANT-TITULOS */
.titulos {
   display: flex;
   flex-direction: column;
}

.titulo {
   font-size: 2rem;
   margin-bottom: 20px;
}

.titulos p {
   color: #c2c2c2;
}
/* RESTAURANT-TITULOS */

/* RESTAURANT-FOTOS */
.fotos-restaurant {
   padding: 10px 0;
   display: flex;
   gap: 5px;
   height: calc(100vh - 10px);
   margin-bottom: 20px;
}
.fotos-restaurant img {
   width: 25%;
   height: auto;
   object-fit: cover;
}
/* RESTAURANT-FOTOS */

/* RESTAURANT-DESCRIPCION-SERVICIOS */
.descripcion-servicios {
   display: flex;
   gap: 10px;
   margin-bottom: 20px;
}

.textos-descripcion {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 50%;
}

.descripcion-horario {
   color: #c2c2c2;
}

.descripcion {
   line-height: 30px;
   font-size: 1rem;
}

.servicios {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   gap: 10px;
   flex-wrap: wrap;
}

.servicio-item {
   width: 40%;
   padding: 5px 10px;
}

.servicio-item p {
   font-size: 1rem;
}
/* RESTAURANT-DESCRIPCION-SERVICIOS */

/* OPINIONES */
.opiniones {
   margin-bottom: 20px;
}
.opiniones h1 {
   margin-bottom: 20px;
}

.lista-opiniones {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}
/* OPINION */
.opinion-item {
   width: 30%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.datos-usuario {
   display: flex;
}

.imagen-usuario {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   object-fit: cover;
   margin-right: 10px;
}

.datos-usuario-contenido p {
   font-size: 1rem;
}

.contenido-opinion {
   line-height: 25px;
   font-size: 1rem;
}
/* OPINION */
.crear-opinion {
   padding: 15px 30px;
   border: none;
   background-color: #ffcc29;
   color: #000;
   font-size: 17px;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
}
/* OPINIONES */

/* UBICACION */
.ubicacion {
   margin-bottom: 20px;
}
.ubicacion h1 {
   margin-bottom: 20px;
}
.mapa-restaurant {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.ubicacion iframe {
   width: 60%;
   height: 500px;
   border: none;
   border-radius: 8px;
   box-shadow: 2px 2px 8px 0px #323232;
}
/* UBICACION */

/* FOOTER */
footer {
   padding: 20px 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #c2c2c2;
   gap: 10px;
}
footer p {
   font-size: 1rem;
   text-align: center;
   color: #000;
}

footer a {
   color: #000;
   font-size: 15px;
}
/* FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 800px) {
   html {
      font-size: 13px;
   }
   .descripcion-servicios {
      flex-direction: column;
   }
   .textos-descripcion,
   .servicios {
      width: 100%;
   }
   .opinion-item {
      width: 40%;
   }
   .ubicacion iframe {
      width: 80%;
      height: 350px;
   }
}

@media screen and (max-width: 600px) {
   .fotos-restaurant {
      flex-wrap: wrap;
      justify-content: center;
   }
   .fotos-restaurant img {
      width: 45%;
   }
}

@media screen and (max-width: 400px) {
   html {
      font-size: 11px;
   }
}
