* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 30px;
   margin-bottom: 20px;
}

.logo {
   display: flex;
   color: #00af91;
   text-decoration: none;
}

.logo h1:first-child {
   color: #ffcc29;
}

.barra-busqueda {
   padding: 10px;
   width: 50%;
   border-radius: 10px;
   outline: none;
   border: 1px solid #c2c2c2;
   box-shadow: 0px 1px 3px -1px #323232;
}

.barra-busqueda::placeholder {
   color: #c2c2c2;
}

.img-perfil img {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   object-fit: cover;
}
/* HEADER */

/* RESTAURANT */
.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container {
   width: 90%;
}
/* RESTAURANT-TITULOS */
.titulos {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.titulos p {
   color: #c2c2c2;
}
/* RESTAURANT-TITULOS */

/* RESTAURANT-FOTOS */
.fotos-restaurant {
   padding: 10px 0;
   display: flex;
   gap: 5px;
   height: calc(100vh - 10px);
   margin-bottom: 20px;
}
.fotos-restaurant img {
   width: 25%;
   height: auto;
   object-fit: cover;
}
/* RESTAURANT-FOTOS */

/* RESTAURANT-DESCRIPCION-SERVICIOS */
.descripcion-servicios {
   display: flex;
   gap: 10px;
}

.textos-descripcion {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 50%;
}

.descripcion-horario {
   color: #c2c2c2;
}

.descripcion {
   line-height: 30px;
}

.descripcion-especialidad {
   font-weight: bold;
}

.servicios {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   gap: 10px;
   flex-wrap: wrap;
}

.servicio-item {
   gap: 5px;
   width: 40%;
   padding: 5px 10px;
   border: 1px solid #000;
}
