/* HELPERS */
html {
   font-size: 10px;
}
:root {
   --slogan: calc(4em + 1vw);
   --title: calc(1rem + 1vw);
   --paragraph: calc(1rem + 1vw);
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Nunito', sans-serif;
}
.logo {
   display: flex;
   color: #00af91;
   text-decoration: none;
}
.logo h1 {
   font-size: 3rem;
   font-weight: bold;
}
.logo h1:first-child {
   color: #ffcc29;
}
.home__title {
   font-size: var(--title);
   font-weight: bold;
}
/* HELPERS */

/* HEADER */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 5rem;
   position: sticky;
   top: 0;
   background-color: #fff;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.header__logo {
   height: 7rem;
   width: 7rem;
   object-fit: cover;
}
.header__search {
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.header__search--input {
   border: 1px solid #e2e2e2;
   box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%);
   border-radius: 20px;
   outline: none;
   padding: 15px 30px;
   width: 100%;
}
.header__search--input::placeholder {
   font-size: 1.3rem;
   color: #e2e2e2;
   font-style: italic;
}

.search__results--default {
   display: none;
}

.search__results--activate {
   background-color: #e9e8e83f;
   padding: 2rem;
   width: 100%;
}

.results__item {
   display: flex;
   text-decoration: none;
   font-size: 1.5rem;
   color: #000;
   gap: 1rem;
   align-items: center;
   margin-bottom: 1rem;
}

.results__item--img {
   height: 5rem;
   width: 6rem;
   object-fit: cover;
}

.header__li {
   list-style: none;
}
.header__li a {
   color: #000;
}

.header__img-user {
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 100%;
}
/* HEADER */

/* FIRST IMG */
.first-img {
   height: 30vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.first-img__title {
   font-size: var(--slogan);
   font-weight: bold;
   background-image: linear-gradient(90deg, #00af91 0%, #ffcc29 100%);
   -webkit-background-clip: text;
   color: transparent;
}
/* FIRST IMG */

/* HOME */
.layout {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.home__restaurantes {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 0;
}
.list__restaurantes {
   padding: 2rem 0;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 3rem;
   margin: 5rem 0;
}
/* CARD RESTAURANT */
.card__r {
   width: 30%;
   display: flex;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   transition: all 0.2s;
   border-radius: 10px;
}
.card__r:hover {
   box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.card__information {
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 10px 20px;
   justify-content: center;
}
.card__information h3 {
   font-size: 2rem;
}
.card__information p {
   font-size: var(--paragraph);
}
.card__information a {
   background-color: #00af91;
   padding: 10px;
   border-radius: 8px;
   text-decoration: none;
   color: #000;
   font-size: 1.3rem;
   border: 1px solid #00af91;
   transition: all 0.2s;
   font-weight: bold;
}
.card__information a:hover {
   background-color: transparent;
   border: 1px solid #00af91;
   color: #000;
}
.card__img {
   width: 50%;
   height: 100%;
   border-radius: 10px 0px 0px 10px;
   object-fit: cover;
}
/* CARD RESTAURANT */
/* OWNER */
.owner {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.owner__information {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 50%;
   gap: 20px;
}
.owner__information h1 {
   font-size: 4rem;
}
.owner__information a {
   background-color: #ffcc29;
   padding: 10px 30px;
   font-size: 2rem;
   text-decoration: none;
   border-radius: 8px;
   color: #000;
}
.owner__img {
   width: 50%;
   height: auto;
}
/* OWNER */
/* HOME */

/* FOOTER */
/* FOOTER */

/* MODAL RESTAURANT */
.modal__titulo {
   font-size: 3rem;
   font-weight: bold;
}
.modal__img {
   width: 100%;
   height: auto;
   object-fit: cover;
}
.modal__item {
   font-size: 1.5rem;
}
/* MODAL RESTAURANT */

/* RESPONSIVE DESIGN */
@media (max-width: 1200px) {
   .card__r {
      width: 40%;
   }
   .list__restaurantes {
      width: 100%;
   }
}
@media (max-width: 1000px) {
   .card__information a {
      width: auto;
      padding: 5px 10px;
   }
   .card__r {
      width: 40%;
   }
}
@media (max-width: 800px) {
   .list__restaurantes {
      gap: 1rem;
   }
   .card__information {
      padding: 10px;
   }
}
