/* HELPERS */
html {
   font-size: 10px;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}
.layout {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
/* HELPERS */

/* HEADER */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 5rem;
}
.header__logo {
   height: 7rem;
   width: 7rem;
   object-fit: cover;
}
.header__search {
   background: #f2f2f2;
   border: 1px solid #d3d3d3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   outline: none;
   padding: 10px 20px;
   width: 40%;
}
.header__img-user {
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 100%;
}
/* HEADER */

/* HOME */
.home__restaurantes {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 0;
}
.home__restaurantes h1 {
   font-size: 3rem;
}
.list__restaurantes {
   padding: 20px 0;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 3rem;
}

/* CARD */
.card {
   width: 30%;
   background-color: #ffcc29;
   border-radius: 8px;
}
.card__information {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 20px 10px;
}
.card__information h3 {
   font-size: 2.5rem;
}
.card__information p {
   font-size: 1.5rem;
}
.card__information a {
   font-size: 1.5rem;
}
.card__img {
   width: 100%;
}
