html {
   scroll-behavior: smooth;
   font-size: 10px;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 30px;
   margin-bottom: 20px;
}
.logo {
   display: flex;
   color: #00af91;
   text-decoration: none;
}
.logo h1 {
   font-size: 3rem;
}
.logo h1:first-child {
   color: #ffcc29;
}
/* HEADER */

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.container {
   width: 90%;
   padding: 2rem 0;
}
.container h1 {
   margin-bottom: 2rem;
   font-size: 3rem;
}
.formulario {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   margin-bottom: 2rem;
}
.form-item {
   padding: 10px 30px;
   gap: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
}
.form-item label {
   font-size: 1.5rem;
}
.input {
   padding: 0.3rem 1rem;
   border-radius: 6px;
   height: 30px;
   border: 2px solid #ddd;
   outline: none;
}
.boton {
   background-color: #00af91;
   border: none;
   padding: 10px 20px;
   border-radius: 8px;
   font-size: 1.4rem;
   cursor: pointer;
}
