html {
   scroll-behavior: smooth;
   font-size: 10px;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 5rem;
   position: sticky;
   top: 0;
   background-color: #fff;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.header__logo {
   height: 7rem;
   width: 7rem;
   object-fit: cover;
}
.logo {
   display: flex;
   color: #00af91;
   text-decoration: none;
}
.logo h1 {
   font-size: 3rem;
}
.logo h1:first-child {
   color: #ffcc29;
}
.header__search {
   border: 1px solid #e2e2e2;
   box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%);
   border-radius: 20px;
   outline: none;
   padding: 15px 30px;
   width: 40%;
}
.header__search::placeholder {
   font-size: 1.3rem;
   color: #e2e2e2;
   font-style: italic;
}
.header__img-user {
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 100%;
}
/* HEADER */

/* RESTAURANT */
.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
}
.container {
   width: 90%;
}
/* RESTAURANT-TITULOS */
.titulos {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.titulo {
   font-size: 4rem;
}
.especialidad {
   font-size: 2rem;
   color: #c2c2c2;
}
/* RESTAURANT-TITULOS */

/* RESTAURANT-FOTOS */
.fotos-restaurant {
   padding: 10px 0;
   display: flex;
   gap: 5px;
   height: 90vh;
   margin-bottom: 20px;
}
.foto-restaurant img {
   width: 100%;
   height: auto;
   object-fit: cover;
}
/* RESTAURANT-FOTOS */

/* RESTAURANT-DESCRIPCION-SERVICIOS */
.descripcion {
   display: flex;
   gap: 10px;
   margin-bottom: 20px;
}
.textos-descripcion {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.descripcion-horario {
   color: #c2c2c2;
}
.descripcion {
   line-height: 4rem;
   font-size: 2rem;
}
/* RESTAURANT-DESCRIPCION */

/* FOOTER */
footer {
   padding: 20px 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #c2c2c2;
   gap: 10px;
}
footer p {
   font-size: 1rem;
   text-align: center;
   color: #000;
}

footer a {
   color: #000;
   font-size: 15px;
}
/* FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 800px) {
   html {
      font-size: 13px;
   }
   .textos-descripcion {
      width: 100%;
   }
}

@media screen and (max-width: 600px) {
   .fotos-restaurant {
      flex-wrap: wrap;
      justify-content: center;
   }
   .fotos-restaurant img {
      width: 45%;
   }
}

@media screen and (max-width: 400px) {
   html {
      font-size: 11px;
   }
}

.informacion {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.informacion__items {
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
   gap: 2rem;
}
.informacion__item {
   text-align: center;
}
.informacion__item p {
   font-size: 2rem;
}
.icon {
   width: 5rem;
   height: 5rem;
   object-fit: contain;
}
